.gazersContainer

  h1
    text-align  center

  .stargazers
    display flex
    flex-wrap wrap
    justify-content space-between

    .gazer
      width 120px
      margin 5px

      .name
        text-align center

      img
        border-radius 50%
        width 100%
        margin-top 5px