$blackColor = #1e2832
$onyxColor = #141414
$mineShaftGrayColor = #333333
$davyGrayColor = #555555
$manateeColor = #9A9A9A
$dimGrayColor = #646d77
$darkGrayColor = #5a5a5a
$lightGrayColor = #d2d2d2
$pastelGrayColor = #cdcdcd
$splashedWhiteColor = #fcfcfd
$darkJungleGreen = #282828
$IsabellineColor = #ededed
$whiteSmokeColor = #f5f6f9
$platinumColor = #e5e5e6
$brightCeruleanBlueColor = #22B5E8
$drifttBlueColor = #33CCEE
$scarletColor = #ff2000
$deepSaffron = #ff992d
$whiteColor = #ffffff
$sunGlowColor = #FFCF33
$yellowColor = #FFE700
$radicalRedColor = #FF364F
$aquaMarineColor = #67F5E0
