@import '_spinner'

body
  margin 0
  font-family "Brandon", "Helvetica Neue", Helvetica
  font-size 16px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  *
    box-sizing border-box

input, button
  font-family "Brandon", "Helvetica Neue", Helvetica

